/w2v_class.tar.gz
/z-machine-games-master.zip
/jericho/
/temp.json
/w2v_class/
/script_regex.txt
/z-machine-games-master/
/jericho_transcript.py
/jericho_actions_2.py
/jericho_actions.py
/common_actions_wn_vn_fn.py
/actions_stripped_set_sorted_aug-ann.xlsx
/explosion_unsifted.txt
/explosion.txt
/FnWnVerbMap1.0.tar.gz
/FnWnVerbMap.1.0/
